* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
/* section */
.nav-links {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
}

/* banner */
#logo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.452);
  z-index: 1;
}

.nav-links a,
#location a {
  width: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
}

.nav-links img {
  width: 150px;
  margin: 10px;
  height: max-content;
}

#location {
  display: flex;
  justify-content: center;
  background-color: #dbdbdb;
  height: 60px;
  width: 100%;
}

#location i {
  margin: 15px;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: rgb(236, 236, 236);
}

#title {
  font-size: 28px;
  font-weight: 900;
  margin: 40px 0 20px 0;
}

#subtitle {
  display: flex;
  text-align: center;
  color: gray;
  margin: 30px 10px;
}

/* Explore button */
#button {
  background-image: linear-gradient(#ff79da, #9356dc);
  opacity: 1;
  color: white;
  width: max-content;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* Explore button animation */
#button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 30px rgb(181, 77, 255);
  opacity: 0.6;
}

/* HOW IT WORKS */
/* section */
#how-it-works {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 30px 10px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 30px 10px 0 0;
}

/* buttons */
.button {
  display: flex;
  align-items: center;
  width: 95%;
  height: 60px;
  border-radius: 15px;
  background-color: #f1f1f188;
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.281);
  margin-left: 10px;
}

.button a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.button i {
  margin: 20px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
  background-color: #9356dc;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 20px;
}

/* RESTAURANTS */
/* section */
#restaurants {
  display: flex;
  height: 1200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f1f188;
  margin: 20px;
}
/* cards */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
}

.card i {
  font-size: 28px;
  padding: 0 20px;
}

.card-text {
  padding: 0 15px;
}

/* FOOTER */
footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  padding: 25px;
  background-color: rgb(68, 67, 67);
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 10px;
}

.fa-utensils,
.fa-handshake-angle {
  width: 25px;
}

/* TABLET LAYOUT      TABLET LAYOUT      TABLET LAYOUT      TABLET LAYOUT      TABLET LAYOUT      TABLET LAYOUT   */
@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* DESKTOP LAYOUT     DESKTOP LAYOUT    DESKTOP LAYOUT    DESKTOP LAYOUT    DESKTOP LAYOUT    DESKTOP LAYOUT    */
@media screen and (min-width: 992px) {
}
